{% extends 'base.html.twig' %}

{% block title %}City index
{% endblock %}

{% block body %}
	{% include "_navbar.html.twig" %}
	{% if app.user %}
		<section class="body">
			<section class="select_city">
				<div class="select">
					<div class="formUpdate">
						<div class="textCity">
							<h1 class="infoCity">Change la ville à ta guise</h1>
							<p class="infoCity">Et récupère toutes les informations que tu désires</p>
							<p class="infoCity">Météo...</p>
							<p class="infoCity">Humidité...</p>
							<p class="infoCity">Localisation...</p>
							<p class="infoCity">Et bien plus encore !</p>
							{{ include('homepage/_formUpdateCity.html.twig', {'button_label': 'Changer'}) }}
						</div>
					</div>
					<div class="formUpdateTransition">
						<h1>
							Ou alors</h1>
					</div>
					<div class="addToList">
						<h1 class="infoCity">Constitue ta liste de ville personnalisée</h1>
						<p class="infoCity">Constitue ta propre liste de ville en les ajoutant depuis cette recherche:</p>
						<p class="infoCity">Et retrouve les sur la page ma liste</p>
						<p class="infoCity">Tu pourras comparer leurs données sur les points qui t'intéresse
						</p>
						<form class="formCitySearch" action="{{ path('homepage') }}" method="post">
							<input type="search" name="addCities" placeholder="Rechercher...">
							<input type="submit" name="rechercher">
						</form>
					</div>
				</div>
			</section>
			<section class="comparator_city">
				<div class="data">
					<h3>Retrouve les données en temps réel de la ville sélectionnée pour la journée:</h3>
					<ul class="ulData">
						<div class="infoCityComparator currentMeteo">
							<div class="row">
								<li class="cloudcover">Couverture nuageuse:
								</li>
							</div>
							<div class="row">
								<li class="feelslike">Température ressentie:
								</li>
							</div>
							<div class="row">
								<li class="humidity">Humidité:
								</li>
							</div>
							<div class="row">
								<li class="precip">Précipitation:
								</li>
							</div>
							<div class="row">
								<li class="pressure">Pression atmosphérique:
								</li>
							</div>
							<div class="row">
								<li class="temperature">Température:
								</li>
							</div>
							<div class="row wind">
								<li class="wind_degree">degré de vent:
								</li>
								<li class="wind_dir">direction:
								</li>
								<li class="wind_speed">Temps:
								</li>
							</div>
						</div>
					</ul>
				</div>
				<div class="containerText">
					<div class="container">
						<p class="weather"></p>
						<div class="infoCityCont city">
							<h4 class="setCity">{{ app.user.city }}</h4>
						</div>
						<h4 class="country"></h4>
						<h4 class="region"></h4>
						<h4 class="localtime"></h4>
						<h4 class="timezone"></h4>
					</div>
				</div>
				<section class="weeklyComparator">
					<section class="weekly">
						<div class="createDates">
							{{ render(url('date_new')) }}
						</div>
						<div class="dataWeekly">
							<ul class="ulWeekly">
								<li class="Params">
									<h1>Données</h1>
									<ul>
										<li class="day avgData">Température Moyenne</li>
										<li class="day maxData">Température Maximum</li>
										<li class="day minData">Température Minimum</li>
										<li class="day illuminationMoon">illumination de la lune</li>
									</ul>
								</li>
								<li class="day1">
									<p class="getStart">{{ dates.0.date_start }}</p>
									<p class="getStartTime"></p>
									<h1>Première journée</h1>
									<ul>
										<li class="day avgDay1"></li>
										<li class="day maxDay1"></li>
										<li class="day minDay1"></li>
										<li class="day moon1"></li>
									</ul>
								</li>
								<li class="day2">
									<p class="getEnd">{{ dates.0.date_end }}</p>
									<p class="getEndTime"></p>
									<h1>Deuxième journée</h1>
									<ul>
										<li class="day avgDay2"></li>
										<li class="day maxDay2"></li>
										<li class="day minDay2"></li>
										<li class="day moon2"></li>
									</ul>
								</li>
							</ul>
						</div>
					</section>
				</section>
			</section>
		</section>
		
	{% endif %}
{% endblock %}
{% block javascripts %}
	{{ encore_entry_script_tags('weatherstack') }}
{% endblock %}
