{{ form_start(updateDate) }}


        <div class="col mt-5">
            <h3>Sélectionne les deux jours à comparer</h3>
        </div>
        <div class="col mt-3">
            {{ form_label(updateDate.dateStart, 'premier jour:') }}
            {{ form_widget(updateDate.dateStart) }}
        </div>
        <div class="col mt-3">
            {{ form_label(updateDate.dateEnd, 'second jour:') }}
            {{ form_widget(updateDate.dateEnd) }}
        </div>

        <button class="btn btn-primary mt-3">{{ button_label|default('Changer') }}</button>


{{ form_end(updateDate) }}